extends ../global

include mixins/showMessages

block head

block content
    .container.pt2
        .row
            .col-md-12
                h1 #{pageTitle}
                hr
                +showMessages(messages)
block footer
