extends ../global
block head

block content
    .container
        h1 #{title}
        form.form-send-password
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required=true, autofocus=true)
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
block footer
    script(src='/js/userSendPasswordResetLink.js')