if showMessages.errors
  .alert.alert-danger.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for error in showMessages.errors
      div= error.msg
if showMessages.info
  .alert.alert-info.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for info in showMessages.info
      div= info.msg
if showMessages.success
  .alert.alert-success.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for success in showMessages.success
      div= success.msg
